@media screen and (max-width: 1200px){
  .imgRotate_news{
    width:992px; 
  }

  .news_textPart{
    font-size: 14px;
  }

  .product_title{
    width: 992px;
  }

  .product{
    width: 992px;
  }

  .product_text1_content{
    margin: 0 10px;
  }

}
@media screen and (max-width: 992px){
  .logoImg{
    width: 98%;
    margin-left: 1%;
  }
  .navBar_center{
    width: 600px;
  }

  .navBar_blockPosition{
    margin: 10px 10px;
  }

  .navBar_firstBlock{
    margin-left: 20px;
  }
  
  .navBar_lastBlock{
   margin-right: 0;
  }

  .navBar{
    font-size: 16px;
  }

  .navBar_imgPosition{
    margin: 10px 20px;
  }

  .navBarF{
    display: none;
  }

  .imgRotate_news{
    width:100%; 
    height: 800px;
  }

  .wrap{
    width:100%;
  }

  .news{
    float: left;
    width: 96%; 
    margin-left: 2%;
    height: 380px; 
  }

  .product_title{
    width: 100%;
  }

  .product{
    width: 600px;
  }

  .product_title_img{
    margin: 0 2%;
    margin-top: 10px;
  }

  .product_text1{
    width: 100%
  }

  .bottomNav_font{
    width: 768px; 
  }

}

@media screen and (max-width: 768px){

  .navBar{
    display: none;
  }

  .navBar_circle{
    display: none;
  }

  .logoImg{
    height: 40px;
  }
  
  .navBarF{
    display: block;
  }

  .news{
    float: left;
    width: 96%; 
    margin-left: 2%;
    height: 380px; 
  }

  .imgRotate_news{
    height: 600px;
  }
  .product{
    width: 100%;
  }

  .product_title_img{
    margin: 0 2%;
    margin-top: 10px;
  }

  .product_text1_content{
    margin-left:  20px;
    margin-right: 0;
  }

  .product_text1_img{
    margin:10px 0;
    margin-left: 10px;
  }

  .product_title1{
    width: 96%;
    margin: 0 2% 20px;
  }

  .bottomNav_font{
    top: 0px;
    width: 480px; 
    line-height: 24px;
  }
  
}


@media screen and (max-width: 480px){

  .wrap{
    height: 200px;
  }
  
  .wrap ul li{
  height:200px;
  }
  
  .product_title_img{
    width: 96%;
    margin: 0 2%;
    margin-top: 10px;
  }

  .product_text1{
    width: 96%;
    margin: 0 2%;
  }
  .product_text1_img{
    width: 100%;
    height: 160px;
  }

  .product_text1_content{
    width: 96%;
    margin: 0 2%;
  }

  .product_text1_content{
    margin: 10px ;
    margin-top: 20px;
  }

  .product_text1_img{
    margin-left: 0;
    margin-bottom: 10px;
  }

  .bottomNav_font{
    top: 0px;
    width: 100%; 
    line-height: 24px;
  }

  .bottomNav{
    display: none;
  }

  .bottomNavF{
    display: block;
  }
}