*{
  margin:0;
  padding:0;
  list-style:none;
}

a{
  text-decoration: none;
}


.wrap{
  height:380px;
  width:100%;
  overflow: hidden;
  position: relative;
  float: left;
  margin-bottom: 30px;
}
 
.wrap ul{
  position:absolute;
} 

.wrap ul li{
  height:380px;
}

.wrap ol{
  position:absolute;
  right:5px;
  bottom:10px;

}

.wrap ol li{
  height:10px; 
  width: 10px;
  background:#ccc;
  border:solid 1px #666;
  margin-left:5px;
  line-height:10px;
  text-align: center;
  font-size: 1px;
  color: #ccc;
  border-radius: 10px;
  float:left;
  cursor:pointer;
}

.wrap ol .on{
  background:#E97305;
  color:#E97305;
}


@keyframes move
{
  from {opacity:0;}
  to {opacity:1;}
}

.reposition{
  position: relative;
}

.abposition{
  position: absolute;
}

.title1_context3{
  width: 1000px;
  margin: 0 auto;
  height: 260px;
}

.title1_block4{
  width: 500px;
  height: 240px;
}

.floatl{
  float: left;
}

.floatr{
  float: right;
}

.title1_context3_font{
  width: 200px;
  height: 80px;
  margin: 0 30px;
}

.title1_context3_font_style1{
  color: #0c019c;
  font-weight: 900;
  font-size: 20px;
}

.title1_context3_font_style2{
  color: #c2bab8;
  font-size: 14px;
}

.title1_context3_font_style3{
  left: 30px;
  color: #0c019c;
  line-height: 36px;
}

.title1_context3_font_style4{
  display: block;
  font-weight: 900;
  font-size: 18px;
  color: #c2bab8;
}

.fontFamily{
  font-family: 黑体;
}

.title1_context3_block1{
  top: 130px;
  height: 36px;
  width: 450px;
  background-color: #f3f1f2;
}

.title1_context3_block2{
  top: 150px;
  height: 36px;
  width: 450px;
  background-color: #f3f1f2;
}

.title1_block5{
  width: 500px;
  height: 240px;
}
